.dmo-collections {
    border-bottom-width:0;

    @mixin collection-item {
        padding: .75rem 1.25rem;
        text-decoration: none;
        color: #000;
        display: flex;
        &:hover {
            background-color: #f1f5f7;
            cursor: pointer;
        }
      }

    .collection-buttons-row {
        display: flex;
        .add-collection-button {
            height: 40px;
            flex-basis: 80%;
            @include collection-item;
            justify-content: flex-start;
        }
        form {
            width: 100%;
            padding: 0;
            .add-collection-form  {
                display: flex;
                justify-content: space-between;

                input {
                    flex: 1 1 70%;
                }
                button {
                    margin: auto 5px;
                }
                .bg-secondary {
                    margin-right: 1.5rem;
                }
            }
            .validation-wrapper {
                height: 1.3rem;
                display: flex;
                justify-content: center;
            }
        }
        .filter-collection-button {
            height: 40px;
            flex-basis: 20%;
            @include collection-item;
            
            justify-content: center;
            i {
                margin: auto;
            }
        }
        .invisible {
            display: none;
        }
    }
    .collection-item {
        text-decoration: none;
        color: #000;
        width: 100%;
        display: block;
        
        border-width: 0px 0px 1px 0px;
        border-radius: 0;
        &:hover {
            background-color: #f1f5f7;
            cursor: pointer;
        }


    }

    .collection-item:last-child {
        border-width:0;
    }
}