@import '~ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.non-user-agent-css:-webkit-autofill {
  background-color: #222 !important;
}

.validation-wrapper {
  margin-top: 0.2rem;
  height: 0.8rem;

  .validation-container {
    height: 0.8rem;
    p {
      margin-bottom: 0;
    }
  } 
}
.validation-text {
  color: #FF8C00;
}