.table-wrapper {
  .table-details {
    display: flex;

    .collection-name-container {
      display: flex;
      padding-right: 5rem;
      height: 4rem;

      .collection-name-header {
        display: flex;
        align-items: center;

        h4 {
          margin: 0;
        }
        button {
          margin-left: 0.5rem;
          display: none;
        }
      }
      
      &:hover {
        cursor: pointer;
        .collection-name-header {
          button {
            display: flex;
          }
        }
      }

      form {
        .edit-collection-name {
          display: flex;
          align-items: center;

          .bg-secondary {
            margin-left: 0.5rem;
          }
        }

        .validation-wrapper {
          margin-top: 0;
          margin-bottom: 0;
          height: 1rem;
        }
      }
    }

    .search-container {
      flex: 0 1 220px;
      margin-left: auto;
      display: flex;
      i {
        position: absolute;
        margin-top: 0.6rem;
        margin-left: 1rem;
      }

      .search-input {
        padding-left: 2.5rem;
        &:focus {
          background-color: unset;
        }
      }
    }

    .search-input {
      border-bottom: none;
      &:focus {
        border-bottom: 1px solid black;
        background-color: unset;
      }
    }
  }

  table {
    width: 100%;

    .column-header {
      font-size: 1.1rem;
      .mat-sort-header-container {
        .mat-sort-header-button {
          outline: none !important;
        }
      }
    }

    .hoverable-element {
      padding: 0.75rem;
      cursor: pointer;
    }
    .hoverable-element:hover {
      background: #f1f5f7;
    }

    .hoverable-element:active {
      background: #c9d6dc;
    }

    .clicked-row {
      background: #c9d6dc;
      &:hover {
        background: #c9d6dc;
      }
    }
  }
}
